:root {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  width: 100%;
}

.form {
  min-width: 200px;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 10px;
}

.field-error {
  margin-top: 5px;
  color: #a00;
  font-size: 12px;
}

.field-input input,
.field-input select {
  width: 100%;
  padding: 5px;
}

.form button[type="submit"] {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
}

.account-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.collapse {
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-content {
  display: none;
}

.collapse-content--visible {
  display: block;
}

.withdraw-request {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.config {
  display: flex;
  gap: 20px;
}

.config-accounts {
  flex: 1;
}

.config-prices {
  flex: 1;
}

.order--filled {
  text-decoration: line-through;
}
